<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{{ mixture.project_name }}: {{ mixture.project_description }}{% endblock %}</title>

    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

    <!-- TODO: OpenGraph Tags -->
    <!-- TODO: Twitter Card tags -->

    {{ "v01.css" | asset_url | stylesheet_tag }}
    {% block styles %}{% endblock %}

    {% if mixture.debug %}<script type="text/javascript" src="/hello/lib/modernizr-full.2.6.2.js"></script>
    {% else %}<script type="text/javascript" src="/hello/lib/modernizr-full.2.6.2.min.js"></script>{% endif %}

</head>
<body>

    {{ comment }}{% include "header" %}{{ endcomment }}

    {% block content %}{% endblock %}
        
    {{ "v01.js" | asset_url | script_tag }}
    {% block scripts %}{% endblock %}

<!-- TODO: Add Analytics -->
</body>
</html>